.home-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: calc(100% - 80px);
}

.room {
  padding: 0.75rem;
  align-content: end;
  color: white;
  border-radius: 1rem;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
    url('../../images/bedroom.svg') lightgray 50% / cover no-repeat;
  height: calc(100% - 24px);
}

.home-section {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: calc(100% - 32px);
}

.device {
  display: flex;
  flex-direction: column;
}

.sensor-temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sensor-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.device-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.device-controller {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.gauge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.device-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.device-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.device-list .card {
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-end;
}

.device-list .card .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.weather-status {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
