.fan-information-input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0.5rem;
    align-items: center;
    background-color: var(--light-green);
  }
  
  .fan-information-input > h1 { 
    text-align: center;
  }
  
  .fan-information-input > .description { 
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--dark-grey);
    margin-bottom: 5rem;
  }
  
  .input-container { 
    display: flex; 
    flex-direction: row;
    width: 45%;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  
  .input-container > label { 
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  input, select{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--cream);
    font-weight: 600;
    color: var(--dark-green);
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }
  
  input:focus,  select:focus { 
    outline: none;
  }
  
  .input-container.profile {
    gap: 1%;
    row-gap: 1rem;
  }